<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Yelp", root_path, class:"navbar-brand"  %>
    <%= link_to "Add restaurant", new_restaurant_path, class:"btn btn-primary" %>
  </div>
</nav>