<h1 class="text-center my-5">Tous les restaurants</h1>

<div class="row gap-3 justify-content-md-center">
  
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant_path(restaurant), class: "col-3 text-decoration-none" do %>
      <div class="border card text-dark bg-light my-2">
        <p class="card-header"><%= restaurant.category %></p>
        <div class="card-body">
          <h2 class="card-title"><%= restaurant.name %></h2>
          <p class="card-text"><%= restaurant.address %></p>
        </div>
      </div>  
    <% end %>
      
  <% end %>
  
</div>